{% extends "base.html" %}
{% block content %}


<div class="col-sm-6 offset-sm-3">
    <h1> {{ title }}</h1>
    <!--LOOPS THROUGH OBJECT LIST-->
    {% for obj in object_list %}
        <div class="row">
            <div class="col-sm-12">
                <div class="img-thumbnail">
                  <div class="caption">
                    <h3><a href = '{{ obj.get_absolute_url }}'>{{ obj.title }}</a> <h6>{{ obj.timestamp|timesince }} ago</h6></h3>
                    <p>{{ obj.content|linebreaks|truncatechars:120 }}</p>
                    <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View</a></p>
                  </div>
                </div>
            </div>
        </div>
    <hr>
    {% endfor %}
</div>


{% endblock content %}




<!--<div class='col-sm-6'>-->
    <!--{% url "posts:detail" id=obj.id %} <br>-->
    <!--<a href = '{{ obj.get_absolute_url }}'>{{ obj.title }}</a><br>-->
    <!--{{ obj.content|linebreaks|truncatechars:120 }} <br>-->
    <!--{{ obj.timestamp }} <br>-->
    <!--{{ obj.updated }} <br>-->
    <!--{{ obj.id }} <br>-->
    <!--<hr>-->
<!--</div>-->




<!--TAKES YOU TO post/id AKA POST DETAILS PAGE-->
        <!--HARD CODED VERSION, NOT RECOMMENDED-->
        <!--<a href='/posts/{{ obj.id }}/'>{{ obj.title }}</a> <br>-->

        <!--NAMED URLS VERSION-->
        <!--'detail' FROM name in post.urls.py-->
        <!--<a href = '{% url "posts:detail" id=obj.id %}'>{{ obj.title }}</a><br>-->

        <!--GET ABSOLUTE URL METHOD-->
        <!--obj.get_absolute_url FROM models.py, USE reverse method, namespace added "namespace" : "name"-->
